@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.1rem;

}

.text{
    opacity: 0.2;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.search-result-title{
    display: none;
    /* font-size: 2rem;
    margin-bottom: 1rem; */
}

.display-result-title h2{
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    clear: right;
    border: 2px solid red;
}

.container{
    min-height: 100vh;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-content,
.search-btn-btn{
    width: 100%;
}
.search-content{
    /* min-width: 90%; */
    padding: 0 1rem;
    font-size: 1.05rem;
    font-family: inherit;
    outline: 0;
    border: 2px solid rgb(194, 116, 25);
    color: #BF6900;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

}

.search-content::placeholder{
    color: rgba(194, 115, 25, 0.619);
}
.search-btn-btn{
    width: 65px;
    height: 50px;
    font-size: 1.6rem;
    background: #BF6900;
    color: #fff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.5s linear;
}
.search-btn-btn:hover{
    background: rgb(142, 87, 4)
}
.search-btn-btn i{
    margin-right: 0.4rem;
}
.search-result{
    margin-top: 5rem;
}
#meal{
    margin: 2.5rem 0; 
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 10px 20px -10px rgba(0,0,0,0.79);
    margin: 20rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    border: 2px solid red;
    padding: 1.6rem 1.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
/* too add transition effects */
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: #BF6900;
    font-weight: 500;
    padding: .75rem 0;
    display: block;
    width: 180px;
    margin: 1rem auto;
    border-radius: 2rem;
}
.recipe-btn:hover{
    background: rgb(142, 87, 4);
}

/* meal details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: #BF6900;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    padding: 2rem 1rem;
    display: none;
}

.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #b2b2b2;
    border-radius: 20rem;
}

/* js related */
.showRecipe{
    display: block;
}
.showResultTitle h2{
    display: block;
    font-weight: 600;
    font-size: 2rem;
    clear: right;
}
.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 0.6rem 0;
}
.recipe-close-btn{
    font-size: 1.6rem;
    position: absolute;
    /* position: fixed; */
    right: 2rem;
    top: 2rem;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
.recipe-title{
    letter-spacing: 1.5px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    color: #BF6900;
    font-weight: 1000;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-instruct{
    margin: 1rem;
}
.recipe-meal-img img{ /* recipe-meal-img img */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1.5rem auto;
    display: block;
}
.recipe-link{
    margin: 1rem 0;
}
.recipe-link a{
    color: #fff;
    font-weight: 600;
    /* transition: all 0.4s linear; */

}
.recipe-link a:hover{
    opacity: 0.8;
}

/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: #BF6900;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}






/* media queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}
@media screen and (min-width: 990px){
    #meal{
        grid-template-columns: repeat(3,1fr);
    }
}
